qsim3d/f95_gerris.zip
qsim_doku.taz
!doku/*
!doku/Makefile
!doku/confi
!doku/customdoxygen.css
!doku/footer.html
!doku/header.html
!doku/docmd/
!doku/readme.md
doku/dox/*
doku/exp/*
doku/html/*
doku/img/*
doku/pdf/*
doku/taz/*
qsim1d/*.o
qsim3d/*.o
metabolism/*.o
metabolism/libqsim.a
backup-dokufiles/*
