# --- Main directory ---
*.taz
*.zip
*.aps
*.o
*.a
*.mod
*.csv
*.png
*.log
.Rproj.user

# --- Documentation ---
doku/doku_offline
doku/dox/
doku/exp/
doku/html/
doku/img/
doku/pdf/
doku/taz/
doku/*.zip
doku/doxygen.exe
doku/doxygen_*.exe
doku/*.log
backup-dokufiles/*
doku/confi_stripped
doku/libclang.dll

# --- QSim3D ---
qsim3d/*.mod
qsim3d/*.o
qsim3d/*.co
qsim3d/version.h
qsim3d/code_source.h
qsim3d/qsim3d_*.*.*

# --- QSim1D ---
qsim1d/*.mod
qsim1d/*.o
qsim1d/*.a
qsim1d/qsim1d_*.*.*

# --- Metabolism ---
metabolism/*.o
metabolism/*/*.o

# --- Visual Studio ---
*.u2d
.vs
qsim1d/*.sln
qsim1d/*.u2d
qsim1d/*.vfproj
qsim1d/x64/
qsim1d/.vs/
test/rotatorien/x64